#play-logo {
    
    margin-left: auto;
    margin-right: auto;
}

#play_content_game_title {
    
    display: block;
    font-size: 2em;
    
    margin-top: 1em;
    margin-bottom: 1em;
    
}

#play_content_title {
    font-size: 1.5em;
}

#play_content_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 250px;
    margin-top: 30px;
    margin-bottom: -70px;
}