.splash_screen_unloaded {
    background: #1622AB;
}

.splash_screen_loaded {

    background: url("splash_screen/background.svg")  no-repeat !important;
}

#splash_screen {

    width: 100%;
    height: 100%;

    text-align: center;

    background: #1622AB;


}

#thank_you_screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("main_menu/background.svg") no-repeat;
    background-size: 100%;
}

#selection_screen{
    background: url("selection/background.svg") no-repeat;
}

#main_screen{
    background: url("main_menu/background.svg") no-repeat;
}
