.splash_screen_unloaded {
    background: #1622AB;
}

.splash_screen_loaded {

    background: url("splash_screen/background.svg")  no-repeat !important;
}

#splash_screen {

    width: 100%;
    height: 100%;

    text-align: center;

    background: #1622AB;


}

#thank_you_screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("main_menu/background.svg") no-repeat;
    background-size: 100%;
}

#selection_screen{
    background: url("selection/background.svg") no-repeat;
}

#main_screen{
    background: url("main_menu/background.svg") no-repeat;
}

.splash{
    display: none;
}

@media (orientation:landscape) {
    .splash{
        display: block;
        position: fixed;
        width: 100%;
    }
    .game-container{
        visibility: hidden;
        display: none;
    }
}

.game-container{
    width: 100%;
    height: 100%;
}


.info-container{
    position: relative;
    width: 100%;
    height: 70vh;
}

.info{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.top{
    display: flex;
    justify-content: center;
    height: 20vh;
}

.logo{
    max-width: 15%;
}

.info-text{
    font-weight: bold;
    font-size: 15px;
    color: #ce0e2d;
    text-align: center;
    font-family: 'joyStix';
}

.rotate{
    max-width: 20%;
    margin-top: 15px;
}