


#play-area {
    text-align: center;
    object-fit: scale-down;
    
    padding-bottom: 2em;
}


#mcq_image {
    width: 90%;
 
    
    margin-top: auto;
    margin-bottom: auto;
    
    height: 100%;
    

}



/*#mcq_border {
    
    
    margin-top: 20px !important;
}*/




#question_title {
    width: 100%;
    font-weight: 500;
    font-size: 22px;

    font-family: joyStix;
    line-height: 1.2em;
    color: #F0AC00;
    

 
}

.question-options {
    

    background: url("./images/buttons/ciku_button.png") no-repeat;
    background-size: 100% 100%;
    height: 70px;
    
    margin-top: 1.2em;
    padding-bottom: 4em;
    width: 70%;

    margin-left: auto;
    margin-right: auto;


    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}

.question-actual-question {

    font-family: joyStix;
    text-align: center;
    color: #1C1C1C;
    font-size: 16px;

  
   

}

#question_count {
    font-size: 20px;
}

.active .question-alphabet {
    background-color: #3E3E3E;
    color: white;
}

.active .question-actual-question {
    color: #3E3E3E;
}

.active.question-options {
    background-color: #00B577;

}

#confirm_button 
{
    margin-top: 1em;
    
    font-size: 24px;
    font-weight: 450;
    
    background-color: #00B577;
    outline: none;
    border: none;
    
    width: 200px;
    
    margin-bottom: 1em;
}

.question-alphabet {
    


    
    height: 25px;
    width: 25px;
    display: inline-block;
    
    background-color: #00B577;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;




    font-weight: bold;
    margin-left: 1.2em;
}

.col-xs, .col-sm {
    
    margin-top: 1.4em;
}


.col-sm {

    width: 100% !important;
    
    padding: 0 !important;
    

}

#question_desc {
    margin-top: 0.5em;
}

.question {
    font-size: 22px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


#question-div {
    /*margin-top: 1em;*/
    
}

#start-div1 {



    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */

    z-index: 1000;


    background-color: rgba(62, 62, 62, 0.9);

    color: white;

    width: 100%;
    height: 100%;


    outline: none;

    overflow-y: hidden !important;
    overflow-x: hidden !important;



}

.overlay_correct {
    background-color: #00B577;
}
#overlay-div1 {

    margin-right: auto;

    margin-left: auto;





    z-index: 5;



    color: white;

    width: 250px;
    height: 250px;


    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;


    outline: none;

    text-align: center;


}

.overlay_image {
    width: 70px;
    height: 70px;
    
    margin-left: auto;
    margin-right: auto;
    
    background-repeat: no-repeat;
    
    margin-top: 2em;
}

.overlay_correct_image {
    background-image: url("games/mcq/correct.svg");
    
}

#answer {
    font-size: 35px;
    font-weight: 500;



}

#next_button {
    
    
    font-size: 22px;
}

#overlay_menu {
    text-align: center;

    
    height: 100%;
    
    display: table-cell;
    
    vertical-align: middle;
}

.help{
    margin-top: 5px;
    margin-bottom: 20px;
}
#mcq_border{
    margin-top: 10px !important;
}