html, body {
    
    
    background: #1622AB;
    
    color: white;

   
    overflow-y: scroll;
    
    overflow-x: hidden;

}

* {
    font-family: 'Roboto', serif;

}

.hideO {
    opacity: 0;
}

#navigate_camera,#audio-player, #img_canvas_icon{
    visibility: hidden;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.navbar {
    

    padding: 0px 20px 20px !important;
    z-index: 300;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;

}

#navbar_logo{
    vertical-align: top !important;
}

#selection-div {
    text-align: center;
    width: 100%;
    height: 100vh;
}


.hide {
    display: none;
}

#audio-player1 {
    margin-right: 1em;
}

#title{
    
    display: block;

    margin-bottom: 0.5em;

    width: 70%;

    margin: auto;

    line-height:1.2em;

    font-size: 2.5em;
}

.bottom{
    width: 100%;
    position: absolute;
    bottom: 0%;
}

.bottom img{
    width: 100%;
}

#selection_button1,#selection_button2, #deactive_button {
    
   font-family: joyStix;

   color: #1C1C1C;
   margin: 0px auto;
    
    font-size: 0.9em;
    /*width: calc(50% + 2px);*/
    
    width: 70%;
    height: 70px;
    


    z-index: 10;



    
    
    background: url("images/buttons/ciku_button.png") no-repeat; 
    
    background-size: 100% 100%;
    
    outline: none;
    border: none;

}

#selection_button2{
    margin-top: 1em;
    margin-bottom: 1em;
}

#deactive_button{
    background: url("images/buttons/deactived_button.png") no-repeat; 
    background-size: 100% 100%;
    color:white;
}

.buttons-div{
    flex-grow: 1;
    margin-top: 80px;
}


/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    
    #content_button {
        height: 200px;
    }
}

.fade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
